name: CI MLflow Training

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: false
        activate-environment: mlflow-env
        environment-file: MLProject/conda.yaml
        auto-activate-base: false

    - name: Copy preprocessed dataset to MLProject
      run: |
        cp MLProject/bank_transactions_data_preprocessing/bank_transactions_preprocessed.csv MLProject/



    - name: Run modelling
      shell: bash -l {0}
      run: |
          conda activate mlflow-env
          cd MLProject
          python modelling.py

    - name: Commit model artifact
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"

        git add MLProject/artifacts/
        git diff --cached --quiet || git commit -m "Add trained model artifact (CI)"
        git push
