name: train-model

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Set up job
      run: echo "Start CI job"

    - name: Run actions/checkout@v3
      uses: actions/checkout@v3

    - name: Install Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: false
        activate-environment: mlflow-env
        environment-file: MLProject/conda.yaml
        auto-activate-base: false

    - name: Check Conda
      run: conda --version

    - name: Install MLflow
      shell: bash -l {0}
      run: |
        conda install -y -c conda-forge mlflow

    - name: Run MLflow Project
      shell: bash -l {0}
      run: |
        mlflow run MLProject
        
    - name: Commit model artifact
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add .
        git commit -m "Add trained model artifact" || echo "No changes"
        git push

    - name: Complete job
      run: echo "CI finished successfully"
