name: train-model

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Set up job
      run: echo "Start CI job"

    - name: Run actions/checkout@v3
      uses: actions/checkout@v3

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    - name: Check Env
      run: python --version

    - name: Install dependencies
      run: pip install mlflow scikit-learn pandas

    - name: Set MLflow Tracking URI
      run: echo "MLFLOW_TRACKING_URI not used (CI mode)"

    - name: Run mlflow project
      run: |
        mlflow run MLProject

    - name: Commit model artifact
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git add artifacts/
        git commit -m "Add trained model artifact" || echo "No changes"
        git push

    - name: Complete job
      run: echo "CI finished successfully"
